@import "mixins";

h1{
    color: rgb(197, 127, 23);
    @include title();
    @include box();
}

.navbar-collapse{
    justify-content: center;
}

.navbar-expand-lg, .footer{
    background-color: skyblue;
}